<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Kontrol Paneli</title>
</head>

<body>
    <div class="dashboard_container">
        <div class="sidebar">
            <div class="side">
                <header>
                    <div class="abbreviated-container">
                        <div class="abbreviated">
                            {{session["name"]}}{{session["lastname"]}}
                        </div>
                    </div>
                    <div class="name">{{session["name2"]}} {{session["lastname2"]}}</div>
                </header>
                <section class="list">
                    <ul>
                        <li>
                            <a href="/dashboard">
                                <div class="list-icon"><i class="fa-solid fa-gauge-high"></i></div>
                                <div class="list-text">Kontrol Paneli</div>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard#users_table">
                                <div class="list-icon"><i class="fa-solid fa-users"></i></div>
                                <div class="list-text">Ekip</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="list-icon"><i class="fa-solid fa-gauge-high"></i></div>
                                <div class="list-text">Yeni Liste Oluştur</div>
                            </a>
                        </li>
                        {% block list %}
                            {% for i in todo %}
                            <li>
                                <a href="/todos/{{i.todo_head_id}}">
                                    <div class="list-icon"><i class="fa-solid fa-list"></i></div>
                                    <div class="list-text">{{i.title}}</div>
                                </a>
                            </li>
                            {% endfor %}
                        {% endblock %}                        
                    </ul>
                </section>
                <footer>
                    <hr>
                    <div class="dark_light">
                        <div class="list-icon"><i class="fa-solid fa-circle-half-stroke"></i></div>
                        <span class="link-name">Koyu Mod</span>
                    </div>
                    <div class="logout">
                        <a href="/logout" style="left: 3px;">
                            <div class="list-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                            <span class="link-name">Çıkış</span>
                        </a>
                    </div>
                </footer>
            </div>
        </div>
                
        <div class="content" id="content">
            {% block right %}
                <div class="content-users_container">
                    <div class="content-users_container_title">
                        <span class="content-users_container_icon"><i class='bx bx-category'></i></span>
                        <span class="content-users_container_text">Kategoriler</span>
                    </div>
                    <div class="boxes">
                        <div class="box box1">
                            <i style="font-size: 35px;" class="fa-solid fa-code-fork"></i>
                            <div style="font-size: 25px; font-weight: 500;">İş</div>
                            <div style="font-size: 40px;">{{iş}}</div>
                        </div>
                        <div style="background-color: #FFE6AC;" class="box box2">
                            <i style="font-size: 35px;" class="fa-solid fa-house-laptop"></i>
                            <div style="font-size: 25px; font-weight: 500;">Serbes Çalışma</div>
                            <div style="font-size: 40px;">{{freelancer}}</div>
                        </div>
                        <div style="background-color: #E7D1FC;" class="box box3">
                            <i style="font-size: 35px;" class="fa-solid fa-lightbulb"></i>
                            <div style="font-size: 25px; font-weight: 500;">Hobi</div>
                            <div style="font-size: 40px;">{{hobi}}</div>
                        </div>
                    </div>
                </div>
                <div class="todo_list">
                    <div class="todo_list_container">
                        <div class="todo_list_container_title">
                            <span class="todo_list_container_icon"><i class="fa-solid fa-table"></i></span>
                            <span class="todo_list_container_text">Yapılacak Listeler</span>
                        </div>
                        <div class="todolist_table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Yapılacak Listesi</th>
                                        <th>İd</th>
                                        <th>Kategori</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in todo %}
                                    <tr>
                                        <td>{{i.title}}</td>
                                        <td>{{i.todo_head_id}}</td>
                                        <td>{{i.category}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="users_container">
                    <div class="content-users_container">
                        <div class="content-users_container_title">
                            <span class="content-users_container_icon"><i class="fa-solid fa-users"></i></span>
                            <span class="content-users_container_text">Ekip</span>
                        </div>
                        <div class="users_table" id="users_table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Kullanıcı Adı</th>
                                        <th>Yapılacak Listesi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in todo2 %}
                                        <tr>
                                            <td>{{i.username}}</td>
                                            <td>{{i.title}}</td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endblock %}    
        </div>
        

</body>

</html>