{% extends "layout.html" %}
{% block body %}

<body id="index">
    <div class="container">
        <div class="card">
            <div class="card-container">
                <div class="card-header">
                    <h1>Giriş</h1>
                    {% if session["password"] %}
                        <script>
                            alert({{session["password"]}})
                        </script>
                    {% endif %}
                </div>
                <div class="card-body">
                    <form method="post">
                        <div>
                            <i class="fa-solid fa-heading "></i>
                            <input type="text" class="list_title" name="list_title" placeholder="Liste ID">
                        </div>
                        <div>
                            <i class="fa-solid fa-user"></i>
                            <input type="text" class="username" name="username" placeholder="Kullanıcı Adı" required>
                        </div>
                        <div>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" class="password" name="password" placeholder="Parola">
                        </div>
                        <button type="submit" class="login-btn" name="login-btn">Giriş Yap</button>
                </div>
                </form>
                <div class="card-footer">
                    <div><a href="/register" class="register a">Kullanıcı Oluştur</a></div>
                    <br>
                    <div><a href="/forget" class="forget a">Şifremi Unuttum</a></div>
                </div>
            </div>
        </div>
        <div class="location">Kaçkar Dağı</div>
    </div>
</body>
{% endblock %}