{% extends "layout.html" %}
{% block body %}

<body id="register">
    <div class="container">
        <div style="height: 231px;" class="card_register">
            <div class="card-container">
                <div class="card-header">
                    <h1>Yeni Parola</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" class="new_password" name="new_password" placeholder="Yeni Parola" required>
                        </div>
                        <div>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" class="new_confirm" name="new_confirm" required placeholder="Parola Doğrula">
                        </div>
                        <button type="submit" class="login-btn" name="login-btn">Sıfırla</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="location">Kaçkar Dağı/Rize</div>
    </div>
</body>
{% endblock %}