<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Yeni Kayıt</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-container">
                <div class="card-header">
                    <h1>Giriş</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        <!-- <div>
                            <i class="fa-solid fa-heading "></i>
                            <input type="text" class="list-title" name="list_title" placeholder="Liste Başlık" required>
                        </div> -->
                        <div>
                            <i class="fa-solid fa-user"></i>
                            <input type="text" class="register_username" name="username" placeholder="Kullanıcı Adı"
                                required>
                        </div>
                        <div>
                            <i class="fa-solid fa-user"></i>
                            <input type="text" class="name" name="name" placeholder="Adınız" required>
                        </div>
                        <div>
                            <i class="fa-solid fa-user"></i>
                            <input type="text" class="firstname" name="firstname" placeholder="Soyadınız" required>
                        </div>
                        <div>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" class="register_password" name="password" placeholder="Parola">
                        </div>
                        <div>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" class="password_confirm" name="password_confirm" placeholder="Parola Doğrula">
                        </div>
                        <div>
                            <i class="fa-solid fa-user"></i>
                            <input type="email" class="email" name="email" placeholder="E-Posta" required>
                        </div>
                        <button type="submit" class="login-btn" name="login-btn">Kayıt Ol</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="location">Kaçkar Dağı/Rize</div>
    </div>
</body>

</html>