{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="card_register">
        <div class="card-container">
            <div class="card-header">
                <h1>Giriş</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    <!-- <div>
                            <i class="fa-solid fa-heading "></i>
                            <input type="text" class="list-title" name="list_title" placeholder="Liste Başlık" required>
                        </div> -->
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <input type="text" class="register_username" name="username" placeholder="Kullanıcı Adı"
                            required>
                    </div>
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <input type="text" class="name" name="name" placeholder="Adınız" required>
                    </div>
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <input type="text" class="firstname" name="firstname" placeholder="Soyadınız" required>
                    </div>
                    <div>
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" class="register_password" name="password" placeholder="Parola">
                    </div>
                    <div>
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" class="password_confirm" name="password_confirm"
                            placeholder="Parola Doğrula">
                    </div>
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <input type="email" class="email" name="email" placeholder="E-Posta" required>
                    </div>
                    <button type="submit" class="login-btn" name="login-btn">Kayıt Ol</button>
                </form>
            </div>
        </div>
    </div>
    <div class="location">Kaçkar Dağı/Rize</div>
</div>
{% endblock %}