{% extends "dashboard.html" %}
{% block list %}
        {% for i in todo2 %}
            <li>
                <a href="/todos/{{i.todo_head_id}}">
                    <div class="list-icon"><i class="fa-solid fa-list"></i></div>
                    <div class="list-text">{{i.title}}</div>
                </a>
            </li>
        {% endfor %}
    {% endblock %}  
{% block right %}
    <div class="details" style="margin: 20px">
        <script>
                  
        </script>
        <form method="post" name="benim_formum" action="/addTask/{{todo[0].todo_head_id}}">
            <table>
                <thead>
                    <tr>
                        <th><h1>{{todo[0].title}}</h1></th>
                        <th style="text-align: center;">Durum</th>
                        <th style="text-align: center;">Sil</th>
                        <th style="text-align: center;">Tamamla</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in todo %}
                        <tr>
                            {% if t.complete == 1 %}
                                <td style="text-decoration: line-through; opacity: 0.5;">{{t.content}}</td>
                                <td style="text-align: center;">Tamamlandı</td>
                            {% else %}
                            <td>{{t.content}}</td>
                            <td style="text-align: center;">Tamamlanmadı</td>
                            {% endif %}
                            <td style="text-align: center;"><a type="submit" href="/del/{{t.id}}"><i class="fa-solid fa-trash fa-lg" style="color: red;"></i></a></td>
                            <td style="text-align: center;"><a href="/edit/{{t.id}}"><i style="color: green;" class="fa-solid fa-check fa-xl"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <input  type="text" style="margin-top: 20px;" name="usernameAndTask" id="usernameAndTask" class="form-control" placeholder="Kullanıcı adını veya görevi buraya yaz...">
                <small class="form-text text-muted">Büyük küçük harfe duyarlıdır!<br>Kullanıcı adı başına @ işareti koyunuz. <br> Birden fazla kullanıcı arasına virgül koyunuz!</small>
            </div>
            <button style="float: left; margin-top: 10px; color: white;" class="btn btn-danger fa-5x"><i class="fa-solid fa-square-plus"></i> Görevi Ekle</button>
            <button style="float: right; margin-top: 10px;" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i> Takım Arkadaşı Ekle</button>
        </form>
        
        
    </div>
    
{% endblock %}